body {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.bodyContact {
    text-align: center;
    background-color: powderblue;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.nav {
    text-align: right;
    font-family: cursive;
    background-color: powderblue;
    font-size: 20px;
}

h3 {
    color: green;
}

.ktheprogrammerlogo {
    height: 40%;
    width: 40%;
} 

.icon {
    height: 50px;
}

.icongit {
    height: 40px;
}

#iconspace {
    height: 50px;
}

.K {
    color: green;
    font-family: cursive;
    font-size: 70px;
}

.The {
    color: blue;
    font-family: cursive;
    font-size: 70px;
}

.Programmer {
    color: red;
    font-family: cursive;
    font-size: 70px;
}

.top-container {
    text-align: center;
    position: relative;
    padding-top: 500px;
    background-color: powderblue;
    padding-bottom: 10px;
    width: 100%;
}

.cloud1 {
    position: absolute;
    right: 50px;
    top: 200px;
    width: 30%;
}

.cloud2 {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 30%;
}

.cloud3 {
    width: 30%;
}

.creating {
    font-size: 50px;
    font-family: fantasy;
}

.program {
    font-size: 25px;
}

.tableIcon {
    margin-left: auto;
    margin-right: auto;
}

.iconsBGColor {
    background-color: powderblue;
    text-align: center;
    padding: 30px 0 20px;
    width: 100%;
}

.code-imgBook {
    width: 40%;
}

.code-imgComputer {
    width: 80%;
}
