body {
    background-color: powderblue;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h3 {
    color: green;
}

img {
    height: 250px;
    align-content: center;
    justify-content: center;
} 

.icon {
    height: 50px;
}

#iconspace {
    height: 100px;
}

#kevio {
    color: blue;
}
