body {
    background-color: powderblue;
}

.bodyContact {
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

.nav {
    text-align: right;
    font-family: cursive;
}

h3 {
    color: green;
}

img {
    height: 300px;
    top: 100px;
} 

.icon {
    height: 50px;
}

#iconspace {
    height: 100px;
}

.K {
    color: green;
    font-family: cursive;
}

.The {
    color: blue;
    font-family: cursive;
}

.Programmer {
    color: red;
    font-family: cursive; 
}

.top-container {
    text-align: center;
    position: relative;
    padding-top: 500px;
}

.cloud1 {
    position: absolute;
    right: 50px;
    top: 200px;
}

.cloud2 {
    position: absolute;
    left: 50px;
    top: 0px;
}

.creating {
    font-size: 50px;
    font-family: fantasy;
}

.program {
    font-size: 25px;
}

.tableIcon {
    margin-left: auto;
    margin-right: auto;
}
